@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    background: radial-gradient(circle, rgba(60,5,195,1) 0%, rgb(44 1 43) 92%);
}

header{
    height: 64px;
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo{
    margin: 4px 0 0 4px;
}

.logo img{
    height: 32px;
    width: 120px;  
}

.entrar{
    position: absolute;
    right: 8px;
    top: 15px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.entrar a{
    padding: 8px 24px;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 4px;
    text-decoration: none;
    color: #6BA3F2;
}

.container{
    display: flex;
    justify-content: center;
}

.textos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.textos p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 13px;
    text-align: center;
}

.textos h1{
    margin-top: 19px;
    font-size: 32px;
    font-weight: 300;
    color: white;
    text-align: center;
}

.textos span{
    color: white;
    padding: 16px 0;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    font-weight: 200;
    text-align: center;
    color: white;
}



.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    width: 950px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg,hsla(0,0%,100%,.12),hsla(0,0%,100%,0));
    padding: 0;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    margin: 20px 15px 0;
    border: 1px solid hsla(0,0%,100%,.3);
}

.conteudo{
    display: block;
    padding: 20px 32px;
  
}

.conteudo h2{
    margin-top: 30px;
    font-size: 32px;
    text-align: left;
    line-height: 42px;
    font-weight: 400;
    color: white;
}

.conteudo .reais{
    flex: 0 0 58px;
    font-size: 24px;
    line-height: 28px;
    color: white;
    align-items: start;
    display: flex;
}

.conteudo .preco span{
    font-size: 17px;
    line-height: 28px;
    color: hsla(0,0%,100%,.75);
    font-weight: 200;
}

.econ{
    font-size: 15px;
    line-height: 28px;
    color: hsla(0,0%,100%,.75);
    font-weight: 200;
    display: flex;
}

.conteudo ul{
    margin-top: 50px;
    line-height: 20px;
    color: hsla(0,0%,100%,.75);
    justify-content: start;
    flex-direction: column;
    display: flex;
    padding-bottom: 30px;;
}

.conteudo li{
    padding-left: 10px;
    padding-bottom: 5px;
    list-style-type: "\002B";
    text-align: left;
    font-weight: 200;
    font-size: 15px;
}

.disp{
    border-top: 1px solid hsla(0,0%,100%,.6);
    margin: 0 auto 20px;
    padding: 8px 5px;
    width: 100%;
    justify-content: flex-end;
    text-align: left;
    color: white;
    font-weight: 200;
}


.botao button{
    color: #ffffff;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    width: 300px;
    height: 52px;
    transition: 0.3s;
    font-weight: bold;
    box-shadow: 0px 0px 3px 0px rgb(55 3 55);
    background-color: #7b2ab0;
    cursor: pointer;
}

.botao button:hover{
    color: #fff;
    background: #a349df;
    cursor: pointer;
}

footer {
    padding-top: 40px;
}

.footer{
    display: flex;
    background-color: rgba(3,3,40,.8);
    justify-content: center;
    max-height: 100px;
    padding: 35px;
    
}

.footer a{
    color: #9e86ff;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 200;
}